{% extends 'base.html' %}

{% block title %}{{title}}{% endblock title %}

{% block content %}

<ul id="categories-list"></ul>
<script>
    fetch('/nested_manuals')
        .then(response => response.json())
        .then(data => {
            const categoriesList = document.getElementById('categories-list');
            data.forEach(category => {
                const categoryItem = document.createElement('li');
                categoryItem.innerHTML = `
                    <div class="category-caption">
                        <img class="category-logo" src="${category.logo_url}" alt="${category.name} logo">
                        <h2>${category.name}</h2>
                    </div>
                    <ul class="groups-list">
                        ${category.groups.map(group => `
                            <li>
                                <h3>${group.name}</h3>
                                <ul class="manuals-list">
                                    ${group.manuals.map(manual => `
                                        <li class="manuals-item">
                                            <a class="manuals-link" href="${manual.file_url}" target="_blank">
                                                <img class="manuals-cover" src="${manual.cover_image_url}" alt="Обложка ${manual.title}">
                                                <span class="manuals-title">${manual.title}</span>
                                            </a>
                                        </li>
                                    `).join('')}
                                </ul>
                            </li>
                        `).join('')}
                    </ul>
                `;
                categoriesList.appendChild(categoryItem);
            });
        })
        .catch(error => console.error('Ошибка:', error));
        </script>
{% endblock %}