{% extends 'base.html' %}

{% block title %}{{title}}{% endblock title %}

{% block content %}

<button class="accordion"><img src="https://storage.yandexcloud.net/aepp.ru/data/logos/abb.svg"><span>ABB</span></button>
                    <div class="panel">
                        <p><a href="https://storage.yandexcloud.net/aepp.ru/data/manuals/abb/asc800-m-1209-ru.pdf">ASC800 Руководство по эксплуатации - 12.09 (русский)</a></p>
                    </div>
            
                    <button class="accordion"><img src="https://storage.yandexcloud.net/aepp.ru/data/logos/danfoss.svg"><span>Danfoss</span></button>
                    <div class="panel">
                        <p><a href="https://storage.yandexcloud.net/aepp.ru/data/manuals/danfoss/dc51-sm-1214_ru.pdf">DC51 Руководство по эксплуатации - 12.14 (русский)</a></p>
                        <p><a href="https://storage.yandexcloud.net/aepp.ru/data/manuals/danfoss/fc51-pm-1111_ru.pdf">FC51 Руководство по эксплуатации - 11.11 (русский)</a></p>
                        <p><a href="https://storage.yandexcloud.net/aepp.ru/data/manuals/danfoss/mcd3000-m-1003_ru.pdf">MCD3000 Руководство по эксплуатации - 10.03 (русский)</a></p>
                    </div>
            
                    <button class="accordion"><img src="https://storage.yandexcloud.net/aepp.ru/data/logos/siemens.svg"><span>Siemens</span></button>
                    <div class="panel">
                        <p><a href="https://storage.yandexcloud.net/aepp.ru/data/manuals/siemens/micromaster/440_m_1006_ru.pdf">Micromaster 440 Руководство по эксплуатации - 10.06 (русский)</a></p>
                        <p><a href="https://storage.yandexcloud.net/aepp.ru/data/manuals/siemens/micromaster/440_pfm_0106_ru.pdf">Micromaster 440 Параметрирование, функциональные схемы - 01.06 (русский)</a></p>
                        <p><a href="https://storage.yandexcloud.net/aepp.ru/data/manuals/siemens/simoreg/dc-master_m_0507_ru.pdf">Simoreg DC Master Руководство по эксплуатации - 05.07 (русский)</a></p>
                        <p><a href="https://storage.yandexcloud.net/aepp.ru/data/manuals/siemens/simoreg/dc-master_mf_2009.pdf">Simoreg DC Master Руководство по эксплуатации, функциональные схемы - 09 (русский)</a></p>
                        <p><a href="https://storage.yandexcloud.net/aepp.ru/data/manuals/siemens/simovert/masterdrives-vc_m_0503_ru.pdf">Simovert Masterdrives VC Руководство по эксплуатации - 05.03 (русский)</a></p>
                        <p><a href="https://storage.yandexcloud.net/aepp.ru/data/manuals/siemens/sinamics/dcm_m_0215_ru.pdf">Sinamics DCM Руководство по эксплуатации - 02.15 (русский)</a></p>
                        <p><a href="https://storage.yandexcloud.net/aepp.ru/data/manuals/siemens/sinamics/dcm_pm_1011_en.pdf">Sinamics DCM Параметрирование - 10.11 (английский)</a></p>
                        <p><a href="https://storage.yandexcloud.net/aepp.ru/data/manuals/siemens/sinamics/dcm_pm_1011_ru.pdf">Sinamics DCM Параметрирование - 10.11 (русский)</a></p>
                        <p><a href="https://storage.yandexcloud.net/aepp.ru/data/manuals/siemens/sinamics/s120_gs_0112_ru.pdf">Sinamics S120 Начало эксплуатации - 01.12 (русский)</a></p>
                        <p><a href="https://storage.yandexcloud.net/aepp.ru/data/manuals/siemens/sinamics/s120_mf_1117_ru.pdf">Sinamics S120 Руководство по эксплуатации - 11.17 (русский)</a></p>
                        <p><a href="https://storage.yandexcloud.net/aepp.ru/data/manuals/siemens/sinamics/s120_si_0414_ru.pdf">Sinamics S120 Справочник по функциям - 04.14 (русский)</a></p>
                        <p><a href="https://storage.yandexcloud.net/aepp.ru/data/manuals/siemens/sinamics/g120_cu240s_m_0309_ru.pdf">Sinamics G120 (CU240S) Справочник по эксплуатации - 03.09 (русский)</a></p>
                    </div>
            
                    <button class="accordion"><img src="https://storage.yandexcloud.net/aepp.ru/data/logos/omron.svg"><span>Omron</span></button>
                    <div class="panel">
                        <p><a href="https://storage.yandexcloud.net/aepp.ru/data/manuals/omron/a1000_m_ru.pdf">A1000 Руководство по эксплуатации (русский)</a></p>
                        <p><a href="https://storage.yandexcloud.net/aepp.ru/data/manuals/omron/3g3fv_m_ru.pdf">3G3FV Руководство по эксплуатации (русский)</a></p>
                        <p><a href="https://storage.yandexcloud.net/aepp.ru/data/manuals/omron/3g3hv_m_ru.pdf">3G3HV Руководство по эксплуатации (русский)</a></p>
                        <p><a href="https://storage.yandexcloud.net/aepp.ru/data/manuals/omron/3g3mv_m_ru.pdf">3G3MV Руководство по эксплуатации (русский)</a></p>
                        <p><a href="https://storage.yandexcloud.net/aepp.ru/data/manuals/omron/3g3pv_m_ru.pdf">3G3PV Руководство по эксплуатации (русский)</a></p>
                        <p><a href="https://storage.yandexcloud.net/aepp.ru/data/manuals/omron/3g3rv_m_ru.pdf">3G3RV Руководство по эксплуатации (русский)</a></p>
                        <p><a href="https://storage.yandexcloud.net/aepp.ru/data/manuals/omron/3g3rx_m_ru.pdf">3G3RX Руководство по эксплуатации (русский)</a></p>
                        <p><a href="https://storage.yandexcloud.net/aepp.ru/data/manuals/omron/cimr-e7_m_ru.pdf">CIMR-E7 Руководство по эксплуатации (русский)</a></p>
                        <p><a href="https://storage.yandexcloud.net/aepp.ru/data/manuals/omron/cimr-f7_m_ru.pdf">CIMR-F7 Руководство по эксплуатации (русский)</a></p>
                    </div>
            
                    <button class="accordion"><img src="https://storage.yandexcloud.net/aepp.ru/data/logos/tg.svg"><span>TG</span></button>
                    <div class="panel">
                        <p><a href="https://storage.yandexcloud.net/aepp.ru/data/manuals/tg/910_mm_ru.pdf">910 Руководство по эксплуатации (русский)</a></p>
                    </div>
            
                    <button class="accordion"><img src="https://storage.yandexcloud.net/aepp.ru/data/logos/schneider-electric.svg"><span>Schneider Electric</span></button>
                    <div class="panel">
                        <p><a href="https://storage.yandexcloud.net/aepp.ru/data/manuals/se/atv212-mp-0811_ru.pdf">ATV212 Руководство по эксплуатации - 08.11 (русский)</a></p>
                    </div>
        </div>
        {% endblock %}